body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px;
}

h1 {
    font-size: 3em;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}
